/* Global */

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readable-width {
  width: 600px;
}

@media (max-width: 950px) {
  .readable-width {
    width: auto;
    padding: 1em;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #F9FFFF;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .25em;
  font-size: 3em;
  color: #F9FFFF;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-weight: 350;
  letter-spacing: .1em;
  font-size: 1.5em;
  color: #F9FFFF;
}

h3 {
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 1.5em;
  color: #F9FFFF;
}


/* VH toggles */

#projects {
  height: 100vh;
}

@media (max-width: 950px) {
  #projects {
    height: 200vh;
  }
}

#about {
  height: 100vh;
}

#contact {
  height: 92vh;
}


/* Intro page */

#hidden-intro {
  display: none;
}

#intro {
  /* Disabled until picture resized
  background-image: url('../images/wolfanddeerlarge.jpg');
  background-repeat: no-repeat;
  background-size: contain */
  background-image: linear-gradient(#4E4E57, #6D6D7C);
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -92vh;
}

@media (max-width: 950px) {
  #intro {
    position: -webkit-sticky;
    position: sticky;
    top: -86vh;
  }
}

.intro-content {
  z-index: 1;
  height: 100vh;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

@media (max-width: 950px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
  }
}

button {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #F9FFFF;
  font-weight: 100;
  width: 13em;
  color: #F9FFFF;
}

@media (max-width: 950px) {
  button {
    margin: 0px;
  }
}

button:hover {
  background-color: transparent;
}

.pressed {
  color: #333;
  border-color: #888;
  outline: 0;
}


/* Projects page */

#projects {
  background-color: #505393;
}

#project-box-container {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  justify-content: center;
}

@media (max-width: 950px) {
  #project-box-container {
    width: auto;
  }
}

.project-box {
  width: 30rem;
  height: 23rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

.project-box>h3,
.project-box>p {
  height: 33%;
  margin: 0;
}

.project-box>h3 {
  text-align: center;
}

.project-box>p {
  margin: 0 2em;
  font-size: 1em;
  color: #F5F5F5;
}

#box1 {
  background-color: #4D508E;
}

#box2 {
  background-color: #4A4D89;
}

#box3 {
  background-color: #484A83;
}

#box4 {
  background-color: #45477E;
}

#box5 {
  background-color: #424479;
}

.code-and-demo {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


/* About page */

#about {
  background-color: #F5F5F5;
  color: #717981;
}

h2.remove-white {
  color: #444444;
}

a.remove-white {
  color: #1EAEDB;
}


/* Contact page */

#contact {
  background-color: #21B2A6;
}

#name-and-email {
  display: flex;
}

label {
  color: #F9FFFF;
  font-weight: 100;
}

textarea {
  width: 100%;
  min-height: 11em
}

input[type='submit'] {
  color: #F9FFFF;
  border: 1px solid #F9FFFF;
}

#sending,
#success,
#error {
  color: #F9FFFF;
  display: none;
}

#sending>p {
  color: #F9FFFF;
}

#nyancat {
  width: 100px;
}

#success>p {
  color: #F9FFFF;
}

#error {
  color: #F9FFFF;
}

#try-again,
#try-linkedin {
  color: #F9FFFF;
  text-decoration: underline
}

#try-again:hover,
#try-linkedin:hover {
  color: #444444;
  cursor: pointer;
}

#send-another {
  display: inline-block;
  width: 25em;
}