* {
  margin: 0;
}

header {
  background-image: url("../images/wolfanddeer.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ECECEA;
}

h1 {
  letter-spacing: .5em;
  margin-left: .5em;
  font-family: 'josefin sans', sans-serif;
  padding: 70px;
  margin-top: 0;
}

h2 {
  font-family: 'josefin sans', sans-serif;
  font-size: 22px;
  margin-top: 0;
  padding: 0 0 140px 0;
}

header ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}

header li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 20px;
}

a {
  color: white;
}

h3 {
  color: #404040;
}

h4 {
  color: #606060;
  font-size: 16px;
}

.bloghead {
}

.blogentry {
  text-align: justify;
  width: 600px;
}

p {
  color: black;
  padding: 10px 0 10px 10px;
  font-size: 18px;
}

li {
  color: black;
  padding: 10px 0 10px 10px;
  font-size: 18px;
}

body {
  text-align: center;
  font-family: helvetica;
  color: #ECECEA;
  font-size: 22px;
  background-color: #FDFDF0;
  margin: 0 auto;
}

div {
  margin: 0 auto;
  padding: 10px 0;
}

.image {
  max-width: 300px;
  max-height: 200px;
  position: relative;
  width: 100%; /* for IE 6*/
}

img {
  max-width: 100%;
  max-height: 100%;
}

h5 {
  position: absolute;
  top: 150px;
  width: 100%;
  font-size: 16px;
  text-align: left;
}

h5 span {
  font-weight: bold;
  background: rgb(0,0,0); /*fallback colour*/
  background: rgba(0,0,0,0.7);
  padding: 10px;
}
